{% extends "studio_base.html" %}
{% load staticfiles %}
{% load materializecss %}
{% block content %}
<div class="row">
    <div class="brew_img responsive-img" style="background: url('{% static "img/brew/background1.jpg" %}')">
        
        <div class="brew_spacing"></div>
        <div class="container brew_title center-align">
            <div class="brew_logo">
                <img  src='{% static "img/brew/logo.jpg" %}'>
            </div>

            <h5>1080 Wyckoff Ave. Queens, NY 11385</h5>
            <h6>Hours: 8am-6pm Mon-Fri Sat & Sun</h6>
            <a href="https://www.instagram.com/1080brew/"><i class="fi-social-instagram"></i></a>
        </div>

        <div class="brew_mail center-align">
            <a  href="/1080_Brew/mailing"class="btn white">JOIN OUR MAILING LIST
            <i class="material-icons right">send</i>
</a>            
        </div>

    </div>
</div>

<!-- brew_Menu -->
<div class="row center-align menu_info">
<div class="container">

    <div class="col s12">
        <h4>Menu</h4>
    </div>

    <div class="col s12 m4">
        <img src='{% static "img/brew/menuCoffee.jpg" %}'>
        <h5>Hot Drinks</h5>
        <ul>
            <li><h6>Americano $3.00</h6></li>
            <li><h6>Cappuccino $3.00</h6></li>
            <li><h6>Chai Latte $3.00</h6></li>
            <li><h6>Cortado $3.00</h6></li>
            <li><h6>Cafe Au Lait $3.00</h6></li>
            <li><h6>Dirty Chai $3.00</h6></li>
            <li><h6>Drip Coffee $2.00</h6></li>
            <li><h6>Macchiato $4.50</h6></li>
            <li><h6>Matcha Latte $4.50</h6></li>
            <li><h6>Tea $2.50</h6></li>
        </ul>
    </div>

    <div class="col s12 m4">
        <img src='{% static "img/brew/menuPastries.jpg" %}'>
        <h5>Cold Drinks</h5>
        <ul>
            <li><h6>Iced Coffee $2.75</h6></li>
            <li><h6>Iced Latte $4.00</h6></li>
            <li><h6>Iced Mocha $4.50</h6></li>
            <li><h6>Iced Americano $3.00</h6></li>
            <li><h6>Iced Red Eye $3.00</h6></li>
            <li><h6>Iced Chai Latte $3.00</h6></li>
            <li><h6>Iced Dirty Chai $4.00</h6></li>
            <li><h6>Iced Matcha Latte $4.50</h6></li>
            <li><h6>Iced Mocha $1.50</h6></li>
        </ul>
    </div>

    <div class="col s12 m4">
        <img src='{% static "img/brew/menuSandwiches.jpg" %}'>
        <h5>Sandwiches</h5>
        <ul>
            <li><h6>Avocado Toast $5.50</h6></li>
            <li><h6>Brie Soppressata $7.00</h6></li>
            <li><h6>Munster Salami $7.00</h6></li>
            <li><h6>Smoked Salmon $7.50</h6></li>
            <li><h6>Vegan Avocado $6.50</h6></li>
            <li><h6>Croissant $5.50</h6></li>
        </ul>
    </div>

</div>
</div>

<!-- Image 2 -->
<div class="parallax-container">
    <div class="parallax">
    <img src='{% static "img/brew/background3.jpg" %}'>
    </div>
</div>

<!-- Coffee Blog -->
<div class="row center-align coffee_blog">

    <div class="col s12">
        <h4>Recent</h4>
    </div>

    <div class="container">
    {% for blog in object_list %}         
    <div class="col s12 coffee_blog_content">

        <div class="left-align">
        <h5>{{ blog.title }}</h5>
        <p> {{ blog.date }}</p>
        </div>
        
        {% if blog.image %}
        <div  class="coffee_blog_img responsive-img" style="background: url('https://s3.amazonaws.com/rockwall/media/{{ blog.image }}'"></div>
        {% endif %}             

         <div class="left-align coffee_blog_text">   
         <p>{{ blog.content }}</p>
         </div>

    </div>
    {% endfor %}
    </div>
    

</div>

<!--Image  3 -->

<div class="parallax-container">
    <div class="parallax">
    <img src='{% static "img/brew/background4.jpg" %}'>
    </div>
</div>


<!--About Us -->
<div class="row coffee_contact center-align">
<div class="container">


    <div class="col s12">
        <h4>About Us</h4>
    </div>

<!-- About Left Side -->
    <div class="col s12 m6 coffee_info">
        
        
        <h5>1080 Brew</h5>
        
        <div class="left-align">
        <p class="black-text text-lighten-4">
1080Brew started when Marian and Melissa realized the tenants at Rockwall Studios definitely needed their own local supply of caffeine in the building!  1080Brew is a cute and cozy coffee shop serving up Toby's Estate brand coffee and espresso!  We offer our customers pastries from Balthazar and Colson's and seriously delicious made-to-order sandwiches!  Our coffee is the best in the neighborhood and so is our service! ;D Check out our menu and come pay us a visit!  We look forward to serving you!</p>

        <p><span class ="bold">1080 Brew:</span> 1080coffee@gmail.com</p>
        <p><span class="bold">Adress:</span> 10-80 Wyckoff Avenue Ridgewood, NY 11385</p>      
                
        <p><span class="bold">Phone:</span> 347-484-9220</p>
        </div>
    </div>

<!-- About Right Side -->

    <div class="col s12 m6 coffee_form" id="about">

        <h5>Contact</h5>

        {% if messages %}
        <div class="col s12">
        <ul class="messages green-text text-darken-1">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}

        <div class="left-align">
       
            <form method='POST' action='/1080_Brew/?#about'>{% csrf_token %}
            {{ form|materializecss }}
               
            <div class="center-align">
            <button class="black btn waves-effect waves-light" type="submit" value="Create Contact">SUBMIT
            <i class="material-icons right">send</i>
            </button>
            </div>
        
            </form>
        </div>

        <div style="width:300px;overflow:hidden;height:300px;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1080+Wyckoff+Avenue,+Ridgewood,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-code" href="https://www.interserver-coupons.com" id="enable-map-data">here</a><style>#display-google-map img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=1ae2024a-b12f-2d9b-ff37-b9bbce1280cb&c=embedded-map-code&u=1467000167" defer="defer" async="async"></script>

    </div>

</div>
</div>
<!-- -->


{% endblock content %}
