{% extends "studio_base.html" %}
{% load staticfiles %}
{% load materializecss %}


{% block content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src='{% static "img/background1.jpg" %}' alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src='{% static "img/background2.jpg" %}' alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src='{% static "img/background3.jpg" %}' alt="Unsplashed background img 3"></div>
  </div>


  <div class="page-footer white">
    <div class="container">
    <div class="row">
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block" style="padding-left:0px;">
            <h4 class="center">About Us</h4>
            <hr>
        </div>
        </div>
    </div>

          


      <div class="row">
        <div class=" col l6 s12">
   
          <h5 class="black-text center" style="font-weight:bold; padding-top:20px;">1080 Brew</h5>
          <p class="black-text text-lighten-4">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo. </p>


        <p><span style="font-weight:bold;">1080 Brew:</span> 1080coffee@gmail.com</p>
        <p><span style="font-weight:bold;">Adress:</span> 10-80 Wyckoff Avenue Ridgewood, NY 11385</p>      
        <p>347-484-9220</p>


        </div>







<!--  RESERVE SPPACE-->

        <div class="row">
        <div class="col s12 m3 l6">
          <div class=" white " >
          <div class="col m3 "style="background-color:white; padding-bottom:0px; width:200px;">
          <h5  class="left"style="color:black;  font-weight:bold;  padding-left:0px; padding-top:15px;">Mailing List</h5>
          </div>

</div>





<!-- FORM FOR RESERVING SPACE -->



    <div class="left " style="padding-top:15px;">

    <label for="date"style="color:black;"><span style="color:red;">*</span>Email Address:</label>
         <input style="color:black;"type="email"></input>

    <label for="date"style="color:black;"><span style="color:red;">*</span>Name:</label>
         <input style="color:black;"type="email"></input>


     
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
    </form>
  </div>
            <button class="black btn waves-effect waves-light" style="" type="submit" name="action">RESERVE SPACE
            <i class="material-icons right">send</i>
            </button>
            
            <div style="padding-bottom:30px;"></div>

<div style="padding-bottom:30px;"></div>


<!-- GOOGLE MAPS  -->
<div style="overflow:hidden;width:300px;height:300px;resize:none;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1080+Wyckoff+Avenue,+Ridgewood,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code-enabler" href="https://www.hostingreviews.website/a2-hosting-review" id="grab-map-data">a2 hosting reviews</a><style>#display-google-map img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=54907f24-d547-3f71-5966-8664aa807337&c=google-map-code-enabler&u=1467225155" defer="defer" async="async"></script>


          </div>
        </div>
      </div>
      </div>
    </div>
</div>





{% endblock content %}
