{% extends "studio_base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col s12">
        <h4 style="font-weight:bold">Contact Us:</h4>
    </div>

    <div class="col s12">
        <hr>
    </div>
    
    <div class="col s12 contactInfo">
    <p><span style="font-weight:bold">Address: </span>10-80 Wyckoff Avenue Ridgewood, NY 11385</p>
    <p><span style="font-weight:bold">Reception: </span>Reception@Rockwallstudios.nyc</p>
    <p><span style="font-weight:bold">General Inquires: </span>347-457-5125</p>
    <p><span style="font-weight:bold">Maintenance requests: </span>Maintenance@Rockwallstudios.nyc</p>
    <p><span style="font-weight:bold">1080 Brew: </span>1080coffee@gmail.com</p>
    <p><span style="font-weight:bold">1080 Project Space: </span>1080projectspace@rockwallstudios.nyc</p>    
    </div>
</div>
</div>


{% endblock content %}
