{% extends "studio_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row medium-12 large-12 columns">
  <div class="subNavArea">

<!-- desktop -->
    <ul class="menu">

      <li><a href="studio"  class="show-for-large"style="color:black; font-size:45px; font-weight:bold; padding-top:25px;">Rockwall Studios</a></li>
      <li><a href="directory"  class="show-for-large"style="color:black; font-weight:bold; padding-top:35px;">Directory</a></li>
      <li><a href="available_spaces"  class="show-for-large"style="color:black;   font-weight:bold; padding-top:35px;">Available Spaces</a></li>
      <li><a href="floorplan"  class="show-for-large"style="color:black;  font-weight:bold; padding-top:35px;">Floorplan</a></li>
      <li><a href="tour" class="show-for-large" style="color:black;  font-weight:bold; padding-top:35px;">Arrange a Tour</a></li>


<!-- tablet -->
<div class="center">
      <li class="menu-text hide-for-large  show-for-medium center" style="font-size:60px;  padding-top:30px;" >Rockwall Studios</li>
</div>

      <div class="center">
          <li  style="display:inline-block; text-align:center;"><a href="directory" class="hide-for-large show-for-medium " style="color:black; font-weight:bold; padding-top:0px; padding-left:0px;  ">Directory</a></li>
          <li  style="display:inline-block; text-align:center;"><a href="available_spaces"  class="hide-for-large show-for-medium"style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Available Spaces </a></li>

          <li  style="display:inline-block; text-align:center;"><a href="floorplan" class="hide-for-large show-for-medium" style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Floorplan </a></li>

          <li  style="display:inline-block; text-align:center;"><a href="tour" class="hide-for-large show-for-medium" style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Arrange a Tour </a></li>
      </div>
 


      <!--mobile-->
      <div class="center">
      <li class="menu-text show-for-small-only " style="font-size:30px;  padding-top:0px; padding-left:0px;" >Rockwall Studios</li>
 
      <hr class="show-for-small-only">

      <li style="display:inline-block; text-align:center;" ><a href="directory" class="show-for-small-only center" style="color:black; font-weight:bold; padding-top:5px; padding-left:0px; font-size:10px; ">Directory</a></li>
      <li style="display:inline-block; text-align:center;"><a href="available_spaces"  class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Available Spaces</a></li>
      <li style="display:inline-block; text-align:center;"><a href="floorplan" class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Floorplan</a></li>
      <li style="display:inline-block; text-align:center;"><a href="tour" class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Arrange a Tour</a></li>

<hr class="show-for-small-only">
</div>
  </ul>
</div>
</div>

<!-- slider -->


<div class="orbit hide-for-small-only" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container" style="height:281px">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
        <img src='{% static "img/studio/sliderImage1.jpg" %}'>
        </li>
        <li class="orbit-slide">
        <img src='{% static "img/studio/sliderImage2.jpg" %}'>
        </li>
        <li class="orbit-slide">
        <img src='{% static "img/studio/sliderImage3.jpg" %}'>
        </li>

    </ul>
</div>

<div class="top-bar" style="background-color:white;">
<div class="row white">
<div class="top-bar-left white" style="padding-top:0px; ">
<ul class="dropdown menu white" data-dropdown-menu>

<li class="menu-text show-for-large " style="background-color:white; font-size:20px; padding-top:20px; ">Directory</li>
<li class="menu-text show-for-medium-only " style="background-color:white; font-size:20px; padding-top:30px; ">Directory</li>

<li class="menu-text show-for-small-only" style="background-color:white; font-size:20px; "><u>Directory</u></li>


</li>

</ul>
</div>
<div class="top-bar-right">
<form method='GET' action=''>
<ul class="menu right" style="background-color:white;">
<li><input style="padding-top:7px; font-size:10px;" name='q' type="search" placeholder="Search directory"></li>
<li><button type="submit" value='Search'class="button small" style="color:black;" >Search</button></li>
</ul>
</form>

</div>
</div>
</div>

<!--Begining of Card -->
<div class="row small-up-1 medium-up-2 large-up-3">
{% for tenant in object_list %}

<div class="column">
<div class="w3-card">
<article class="slide">
    <header class="w3-container w3-light-grey" id={{ tenant.room }}>
    <h3 class="left">{{ tenant.first_name }} {{tenant.last_name}}</h3>
    </header>

<div class="w3-container">

<!-- Profile Image -->
    {% if tenant.image %}
  <img src='https://s3.amazonaws.com/rockwall/media/{{ tenant.image}}' alt="Avatar" class="w3-left  w3-margin-right" style=" padding-top:10px; padding-bottom:10px; width:150px; height:100%;">
    {% endif %}
<!-- Profile Content -->
    <p style="padding-top:10px; padding-bottom:10px;" >{{ tenant.content }}</p>
<!-- Profile Website -->
    {% if tenant.web %}
    <!-- Large Screen--> 
    <a href="{{ tenant.web }}"><p style="padding-bottom:10px; padding-left:220px;" class="show-for-large" >{{ tenant.web }}</p></a>
    <!-- Small Screen -->
    <a href="{{ tenant.web }}"<p style="padding-bottom:10px;" class="show-for-small-only">{{ tenant.web }}</p></a>
    {% endif %}

<!-- Social Links -->
    <ul class="menu">

        <!-- Email -->
        {% if tenant.email %}
            <!-- Large -->
            <li class="show-for-large ">
                <a href='mailto:{{ tenant.email }}'>
                <i style=" color:black;font-size:20px; padding-left:220px; color:black;"class="fi-mail"></i>
                </a>
            </li>
            <!-- Small -->
            <li class="hide-for-large ">
                <a href='mailto:{{ tenant.email }}'>
                <i style=" color:black;font-size:20px; padding-left:20px; color:black;"class="fi-mail"></i>
                </a>
            </li>
        {% endif %}

        <!-- Facebook -->
        {% if tenant.facebook %}
            <!-- Large -->
            <li class="show-for-large ">
                <a href='{{ tenant.facebook }}'>
                <i style="color:black;font-size:20px; padding-left:220px; color:black;"class="fi-social-facebook"></i>
                </a>
            </li>
            <!-- Small -->
            <li class="hide-for-large ">
                <a href='{{ tenant.facebook }}'>
                <i style="color:black;font-size:20px; padding-left:20px; color:black;"class="fi-social-facebook"></i>
                </a>
            </li>
        {% endif %}

        <!-- Twitter -->
        {% if tenant.twitter %}
            <!-- Large -->
            <li class="show-for-large ">
                <a href='{{ tenant.twitter }}'>
                <i style="color:black;font-size:20px; padding-left:220px; color:black;"class="fi-social-twitter"></i>
                </a>
            </li>
            <!-- Small -->
            <li class="hide-for-large ">
                <a href='{{ tenant.twitter }}'>
                <i style="color:black;font-size:20px; padding-left:20px; color:black;"class="fi-social-twitter"></i>
                </a>
            </li>
        {% endif %}

        <!-- Instagram -->
        {% if tenant.instagram %}
            <!-- Large -->
            <li class="show-for-large ">
                <a href='{{ tenant.instagram }}'>
                <i style="color:black;font-size:20px; padding-left:220px; color:black;"class="fi-social-instagram"></i>
                </a>
            </li>
            <!-- Small -->
            <li class="hide-for-large ">
                <a href='{{ tenant.instagram }}'>
                <i style="color:black;font-size:20px; padding-left:20px; color:black;"class="fi-social-instagram"></i>
                </a>
            </li>
        {% endif %}

        <!-- LInkedin 
        {% if tenant.linkedin %}
             <li class="show-for-large"><a href='{{ tenant.linkedin }}'><img style="padding-bottom:6px" src='https://s3.amazonaws.com/rockwall/static/img/linkedin.jpg'></a></li>
        {% endif %}
        -->
    
        </ul>

  <br>
  <hr>

</div>

</article>
</div>
</div>

{% endfor %}
</div>

{% endblock content %}
