{% extends "studio_base.html" %}
{% load staticfiles %}
{% load materializecss %}


{% block content %}
<div class="row mail">
<div class="container">

    <div class="col s12">
        <h3>Join The Wall Mailing List!</h3>

        <h5><span class="point">***</span>Please Enter Your Email Address Below  </h5>

    </div>

    {% if messages %}
    <div class="col s12">
        <ul class="messages green-text text-darken-1">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    

    <div class="col s12">
        <form method='POST' action='/the_wall//mailing'>{% csrf_token %}

            {{ form|materializecss:'s12 m6' }}

            <div class="col s12">
            <button value="Create Mailing"type="submit"class="btn black">Submit</button>
            </div>
        </form>
    </div>

    <div class="col s12">
    <div class="mail_space"></div>
    </div>


</div>
</div>
{% endblock content %}
