{% extends "studio_base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block content %}
<div class="container">

<!-- Title -->
<div class="col s12 center proTitle">
    <h4>1080 Project Space</h4>
    <hr>
    <ul>
    <a href="/project_space/#rent_space">Rent the Space</a>&nbsp;&nbsp;
    <a href="/project_space/mailing">Join the Mailing List</a>
    <hr>
</div>

<!-- Slider -->
<div class="col s12 proSlider">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
     
        <li class="is-active orbit-slide">

          <img class="orbit-image4" src='{% static "img/event/slider6.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider3.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider5.jpg" %}' alt="main article image">
        </li>
          <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider2.jpg" %}' alt="main article image">
        </li>
           <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider1.jpg" %}' alt="main article image">
        </li>
            <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider4.jpg" %}' alt="main article image">
        </li>
           
        <li class="orbit-slide">
          <img class="orbit-image4" src='{% static "img/event/slider8.jpg" %}' alt="main article image">
        </li>
    </ul>
    </div>
</div>

<!-- Wall -->
<div class="col s12 wall">

    <h5 class="black">The Wall</h5>
    {% for blog in recent %}
    <div class="container">
    <div class="wallData">
        <!--Image -->
        {% if blog.image %}            
        <img src='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}' class="responsive-img"  alt="image for article" alt="article preview image">
        {% endif %}
        <!-- Youtube -->
        {% if blog.youtube_link %}
        <div class="flex-video widescreen youtube">
        <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}

        <!-- Text -->
        
      <h5>{{ blog.title }}</h5>
      <p>
        <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>&nbsp;
        <span><i class="fi-clock">&nbsp;&nbsp;Start Time&nbsp;{{ blog.time }}</i></span>
      </p>  

      <p>{{ blog.content }}</p>

    </div>
    </div>
    {% endfor %}

</div>

<!-- Rent -->
<div class="col s12"> 

    <h4>Learn About 1080 Project Space</h4>
    <hr>

    <img class="responsive-img"  src='{% static "img/event/1080ProjectSpace.jpg" %}'>
    
    <div class="flex-video " style="overflow:visible;">
    <iframe  src="https://calendar.google.com/calendar/embed?src=rockwall.mgmt%40gmail.com&ctz=America/New_York" class="responsive-img"style="border: 0" width="500" height="700" frameborder="0" scrolling="no"></iframe>
    </div>

    <p>Our Gallery space is a 1500 sf space designed for the purpose of offering our tenants an in-house place to exhibit their work.  When our tenants are not utilizing the space we envision it becoming a go-to location for Art Exhibits, Performance Art, Work Shops, Markets and more!  With its 23ft ceiling height, the sky is the limit!  Pass through the hallway next to the Gallery and you enter The Deep End Bar and Restaurant.  The owners of this restaurant are all too happy to offer food and beverage service to all events going on in 1080 Project Space!  Give us a call to check it out and book your next event with us!</p>

    <h5 >**If you would like to contact us please fill out the form below and we will get back to you as soon as we can</h5>

        
     <form method='POST' action='/project_space/?#about'>{% csrf_token %}
    {{ form.as_p }}
           <button class="black btn waves-effect waves-light" type="submit" value="Create Contact">SUBMIT
                <i class="material-icons right">send</i>
            </button> 
    </form>

    <div id="about">
    {% if messages %}
    <div class="row">
    <ul class="messages green-text text-darken-1">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

</div>





</div>
{% endblock content %}
