{% extends "studio_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class="row">
<!-- HomeTop -->
<div class="col s12 m8 homeTop">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
 
        <li class="is-active orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit1.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit2.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit3.jpg" %}' alt="main article image">
        </li>
    </ul>
    </div>
</div>

<!-- Links -->
<div class="col s12 m4 homeRight">
 <ul>
    <li>
    <a href="1080_Brew"><img src='{% static "img/home/1080Brew2.jpg" %}' ></a>
    </li>

    <li> 
    <a  href="studio"><img src='{% static "img/home/StudioRentalAndAvailability2.jpg" %}'></a>
    </li>

    <li>
    <a  href="project_space"><img src='{% static "img/home/1080ProjectSpace2.jpg" %}'></a>
    </li>
 </ul>
</div>


<!--Bottom Section-->
<div class="col s12  m8 homeLable">
    <div class="black spotLight">
     <h5>Spotlight</h5>
     </div>

    <div class="container">    
        {% for blog in spotlight %} 
            
            {% if blog.youtube_link %}
            <div class="col s12 m6 spotVideo">
                <div class="flex-video widescreen youtube">
                <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}

            {% if blog.image %}
            <div class="col s12 m6 spotImage">
            <img src='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}' class="responsive-img"alt="image for article" alt="article preview image">
            </div>
            {% endif %}
            
            <div class="col s12 m6">
                <h5>{{ blog.title }}</h5>
                <p>
                    <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
                </p>  
                <p>{{ blog.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Bottom Left -->
<div class="col s12 m4 homeContact">
<div class="container">
        <h5>Contact</h5>

        <div class="homeMap">
        <div style="width:300px;overflow:hidden;height:300px;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1080+Wyckoff+Avenue,+Ridgewood,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-code" href="https://www.interserver-coupons.com" id="enable-map-data">visit them now</a><style>#display-google-map img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=913e48cf-caaa-3a2d-7557-5d8935ab6ac4&c=embedded-map-code&u=1467000167" defer="defer" async="async"></script>
        </div>

        <div class="homeInfo">
        <div class="row">
        <p><span>Address: </span>10-80 Wyckoff Avenue Ridgewood, NY 11385</p>
        <p><span>Reception/General Inquirires: </span>347-457-5125
    Reception@Rockwallstudios.nyc</p>
        <p><span>Maintenance Request: </span>Maintenance@Rockwallstudios.nyc</p>
        <p><span>1080 Brew: </span>1080coffee@gmail.com</p>
        <p><span>1080 Project Space: </span>1080projectspace@rockwallstudios.nyc</p>
        </div>
        </div>

</div>
</div>




</div>
</div>
{% endblock content %}
