{% extends "studio_base.html" %}
{% load staticfiles %}
{% load markup_tags %}
{% block content %}
<!-- Top Container -->

<div class="container">
<!-- Top Section -->

<div class="row">

    <div class="col s12 m8 center-align home_slider">
        <div class="slider">
        <ul class="slides">

          <li>
            <img src='{% static "img/home/orbit1.jpg" %}'>
          </li>

          <li>
            <img src='{% static "img/home/orbit3.jpg" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home1.png" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home2.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home3.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home4.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home5.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home9.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home10.JPG" %}'>
          </li>

          <li>
            <img src='{% static "img/home/home11.JPG" %}'>
          </li>

        </ul>
        </div>
    </div>


    <div class="col s12 m4">
         <ul>
            <li>
            <a href="1080_Brew"><img class="responsive-img"src='{% static "img/home/1080Brew2.jpg" %}' ></a>
            </li>

            <li> 
            <a  href="studio"><img class="responsive-img"src='{% static "img/home/StudioRentalAndAvailability2.jpg" %}'></a>
            </li>

            <li>
            <a  href="the_wall"><img class="responsive-img"src='{% static "img/home/thewall.jpg" %}'></a>
            </li>
         </ul>
    </div>
</div>
<!--End of Top Section -->

<!-- Bottom Section -->
<div class="row">
<div class="col s12 l8  emblem">
     
        <div class="col s12 emblem_title">
            <h4 class="black">Spotlight</h4>
        </div>

        <div class="container blog_Container">

            {% for blog in spotlight %} 
            <div class="row blog_sec">
            <!--Image Content -->
            {% if blog.image %}
            <a href='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}'>
            <div class="col s12 m6 l6 blog_Image" style="background: url('https://s3.amazonaws.com/rockwall/media/{{ blog.image }}')"></div>
            </a>
            {% endif %}

            <!--Video Content -->        
            {% if blog.youtube_link %}
            <div class="col s12 m6 blog_Video">
            <div class="video-container">
            <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
            </div>  
            </div>
            {% endif %}

            <!-- Text Content -->   
            {% if not blog.image and not blog.youtube_link %} 
            <div class="col s12 blog_Text">
                <h5>{{ blog.title }}</h5>
                <p>
                    <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
                </p>  
                <div class="text_length"><p>{{ blog.content|apply_markup:"markdown" }}</p></div>
            </div>

            {% else %}
            <div class="col s12 m6 blog_Text">
            <h5>{{ blog.title }}</h5>
            <p>
                <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
            </p>  

            <div class="article">
                   <p>{{ blog.content|apply_markup:"markdown" }}</p>
            </div>

            </div>
            {% endif %}
            </div>
            {% endfor %}
        </div>
</div>

<!-- Contact -->
<div class="col s12 m6 l4">    
<div class="border">
    

    <h5>Contact</h5>   
   
    <div class="map" style="width:300px;overflow:hidden;height:300px;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1080+Wyckoff+Avenue,+Ridgewood,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-code" href="https://www.interserver-coupons.com" id="enable-map-data">visit them now</a><style>#display-google-map img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=913e48cf-caaa-3a2d-7557-5d8935ab6ac4&c=embedded-map-code&u=1467000167" defer="defer" async="async"></script>
    
    <ul style="width:93">
        <li>
        <p><span>Address: </span>10-80 Wyckoff Avenue Ridgewood, NY 11385</p></li>

        <li>
        <p><span>Reception/General Inquirires: </span><br>347-457-5125 Reception@Rockwallstudios.nyc</p>
        </li>

        <li>
            <p><span>Maintenance Request: </span>Maintenance@Rockwallstudios.nyc</p>
        </li>

        <li>
            <p><span>1080 Brew: </span>1080coffee@gmail.com</p>
        </li>

        <li>
            <p><span>The Wall: </span>Reception@rockwallstudios.nyc</p>
        </li>
    </ul>
</div>
</div>



</div>

<!--End of container-->

</div>
{% endblock content %}
