{% extends "studio_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
<ul class="orbit-container">
  <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
  <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
        <img src='{% static "img/home/slider1.jpg" %}'>
        </li>

        <li class="orbit-slide">
        <img src='{% static "img/home/slider2.jpg" %}'>
        </li>

        <li class="orbit-slide">
        <img src='{% static "img/home/slider4.jpg" %}'>
        </li>

        <li class="orbit-slide">
        <img src='{% static "img/home/slider6.jpg" %}'>
        </li>

        <li class="orbit-slide">
        <img src='{% static "img/home/slider5.jpg" %}'>
        </li>

</ul>
</div>


<!-- END ofslider  -->


<!-- arrow logo -->
<center>
<div style="padding-bottom:15px;"></div>
<img  style="width:3%; height:3%;" src='{% static "img/home/downArrow.svg" %}'>
</center>

<!-- Starting Section -->

<center>
<div class="center show-for-large " style="padding-top:10px;"><h2>Learn More about Us and Our Community</h2></div>
<div class="center show-for-medium-only " style="padding-top:10px;"><h2>Learn More about Us and Our Community</h2></div>
<div class="center show-for-small-only " style="padding-top:10px; "><h2 style="font-size:20px;font-weight:bold;">Learn More about Us and Our Community</h2></div>

</center>

<!-- this div is used for padding adjustment -->

<!-- Slider -->

<div class="row hide-on-small-only"  style="padding-top:15px;">

<div class="medium-8 columns">
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
 
        <li class="is-active orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit1.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit2.jpg" %}' alt="main article image">
        </li>
        <li class="orbit-slide">
        <img class="orbit-image4" src='{% static "img/home/orbit3.jpg" %}' alt="main article image">
        </li>
        
  </ul>
  
</div>
</div>


<!-- Navigation images to branches of website -->

<!-- images for side bar are 400x158 -->


<div class="medium-4 columns">
    <p><a  href="1080_Brew"><img src='{% static "img/home/1080Brew2.jpg" %}' ></a></p>
    <p><a  href="studio"><img src='{% static "img/home/StudioRentalAndAvailability2.jpg" %}'></a></p>
    <p><a  href="project_space"><img src='{% static "img/home/1080ProjectSpace2.jpg" %}'></a></p>
</div>
</div>


<!-- Accordian Tabs Begin  -->

<div class="row column ">
<div style="padding-bottom:20px; font-weight:bold;"></div>

<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<!-- Spotlight Accordian Tab -->
<ul class="accordion" data-accordion   >
  <li class="accordion-item is-active " data-accordion-item  >
    <a href="#" class="accordion-title" style="background-color:black;  color:white; font-size:24px;">Spotlight</a>
    <div class="accordion-content" data-tab-content >


        {% for blog in spotlight %}
        <div class="row" style="padding-bottom:36px">

            {% if blog.image %}
          <div class="large-6 columns">
          <p><img src='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}' alt="image for article" alt="article preview image"></p>
          </div>
            {% endif %}

            {% if blog.youtube_link %}
          <div class="large-6 columns">
            <div class="flex-video widescreen youtube">
                <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            {% endif %}

          <div class="large-6 columns">
          <h5><a href="#" style="color:black;">{{ blog.title }}</a></h5>
          <p>
          <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
          </p>  
          <p>{{ blog.content }}</p>
          </div>
        </div>
        {% endfor %}

    </div>
  </li>
</ul>

<!-- Upcoming Accordian Tab -->
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title" style="background-color:black; color:white; font-size:22px;">Upcoming</a>
      <div class="accordion-content" data-tab-content>


        {% for blog in upcoming %}
        <div class="row" style="padding-bottom:36px">
            {% if blog.image %}
          <div class="large-6 columns">
          <p><img src='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}' alt="image for article" alt="article preview image"></p>
          </div>
            {% endif %}

            {% if blog.youtube_link %}
          <div class="large-6 columns">
            <div class="flex-video widescreen youtube">
                <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            {% endif %}

          <div class="large-6 columns">
          <h5><a href="#" style="color:black;">{{ blog.title }}</a></h5>
          <p>
          <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
          </p>  
          <p>{{ blog.content }}</p>
          </div>
        </div>
        {% endfor %}

    </div>
  </li>
</ul>

<!-- Past Accordian Tab -->

<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title"  style="background-color:black; color:white; font-size:22px;" >Past</a>
      <div class="accordion-content" data-tab-content>

        {% for blog in object_list %}
        <div class="row"style="padding-bottom:36px">
            {% if blog.image %}
          <div class="large-6 columns">
          <p><img src='https://s3.amazonaws.com/rockwall/media/{{ blog.image }}' alt="image for article" alt="article preview image"></p>
          </div>
            {% endif %}

            {% if blog.youtube_link %}
          <div class="large-6 columns">
            <div class="flex-video widescreen youtube">
                <iframe width="560" height="315" src="{{ blog.youtube_link }}" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            {% endif %}

          <div class="large-6 columns">
          <h5><a href="#" style="color:black;">{{ blog.title }}</a></h5>
          <p>
          <span><i class="fi-calendar">&nbsp;&nbsp;{{ blog.date }}</i></span>
          </p>  
          <p>{{ blog.content }}</p>
          </div>
        </div>
        {% endfor %}





        <div class="pagination">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ objects_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
        </span>
        </div>


       </div>
    </li>
</ul>


<!--contact -->

<ul class="accordion show-for-small-only" data-accordion data-allow-all-closed="true">
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title"  style="background-color:black; color:white; font-size:22px;" >Contact</a>
      <div class="accordion-content" data-tab-content>
        <div class="row">
    
          <div class="large-6 columns">
<!-- contact information -->
        <p><span style="font-weight:bold;">Address:</span> 1080 Wyckoff Ave, Brooklyn Ny 11237</p>
        <p><span style="font-weight:bold;">Reception/General Inquiries:</span> 347-457-5125<br> Reception@Rockwallstudios.nyc</p>
        <p><span style="font-weight:bold;">Maintenance requests:</span> Maintenance@Rockwallstudios.nyc</p>
        <p><span style="font-weight:bold;">1080 Brew:</span> 1080coffee@gmail.com</p>
        <p><span style="font-weight:bold;">1080 Project Space:</span> 1080projectspace@rockwallstudios.nyc</p>
          </div>
        </div>
       </div>
    </li>
</ul>
</article>
</div>

<!-- google maps -->
<div class="large-4 columns">
<div style = "border:2px solid black; width:380px; " class="hide-for-small-only" >
<div class="row column" style=" padding-left:27px;">

      <p class="lead" style="padding-top:20px; font-weight:bold;" >Contact</p>
<div style="width:300px;overflow:hidden;height:300px;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1080+Wyckoff+Avenue,+Ridgewood,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-code" href="https://www.interserver-coupons.com" id="enable-map-data">visit them now</a><style>#display-google-map img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=913e48cf-caaa-3a2d-7557-5d8935ab6ac4&c=embedded-map-code&u=1467000167" defer="defer" async="async"></script>

<br>

<!-- contact information -->
        <p style="padding-left:18px;"><span style="font-weight:bold;">Address:</span> 1080 Wyckoff Ave, Brooklyn Ny 11237</p>
        <p style="padding-left:18px;"><span style="font-weight:bold;">Reception/General Inquiries:</span><br> 347-457-5125<br> Reception@Rockwallstudios.nyc</p>
        <p style="padding-left:18px;"><span style="font-weight:bold;">Maintenance requests:</span> Maintenance@Rockwallstudios.nyc</p>
        <p style="padding-left:18px;"><span style="font-weight:bold;">1080 Brew:</span> 1080coffee@gmail.com</p>
        <p style="padding-left:18px;"><span style="font-weight:bold;">1080 Project Space:</span> 1080projectspace@rockwallstudios.nyc</p>

</div>
</div>
</div>
</div>
{% endblock content %}
