{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rockwall Studios</title>
    <meta name="description" content="Rockwall Studios">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='shortcut icon' href='{% static "img/favicon.ico" %}' type='image/x-icon'/ >
<!--CSS  -->
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel='stylesheet' href='{% static "css/indexMainLandingPage.css" %}'>
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/floorplan.css" %}'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>

<header>
<!--navigation bar -->

  <!-- desktop nav bar -->
<nav class="hide-on-med-and-down">
    <div class="nav-wrapper black">
        <a href="/" class="brand-logo" style="width:9%; font-size:20px; padding-left:5px; padding-top:0px; color:black; font-weight:bold;">
            <img src='{% static "img/logo.svg" %}' style="width:100%; height:10%;" id="rockwallLogo">
        </a>
        <a href="/studio" style="font-size:14px; font-weight: bold; padding-left:190px; color:white;">Studio</a>
        <a href="/project_space"  style="font-size:14px; font-weight: bold; padding-left:10px; color:white;">Project Space</a>
        <a href="/1080_Brew"  style="font-size:14px; font-weight: bold; padding-left:10px; color:white;">1080 Brew</a>
     
    </div>
</nav>

<!-- Tablet nav bar -->
<nav class="hide-on-small-only hide-on-large-only ">
    <div class="nav-wrapper black">
       <a href="/" class="brand-logo left" style="width:18%; padding-left:0px; padding-top:0px; color:black; font-weight:bold;">
            <img style="width:100%; height:20%;" id="rockwallLogo" src='{% static "img/logo.svg" %}'></a>

       <a href="/studio" style="font-size:14px; font-weight: bold; padding-left:163px; color:white;">Studio</a>
       <a href="/project_space" style="font-size:14px; font-weight: bold; padding-left:10px; color:white;">Project Space</a>
       <a href="/1080_Brew" style="font-size:14px; font-weight: bold; padding-left:10px; color:white;">1080 Brew</a>

    </div>
</nav>


<!--Mobile nav bar -->

 
  <nav class="hide-on-med-and-up">
     <div class="nav-wrapper black">
           <a href="/" class="brand-logo"><img style="width:100%; height:100%;" id="rockwallLogo" src='{% static "img/logo.svg" %}'></a> 
        <a href="/" data-activates="nav-mobile" class="button-collapse"><i style="color:white" class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="studio">Studio</a></li>
            <li><a href="project_space">Project Space</a></li>
            <li><a href="1080_Brew">1080 Brew</a></li>
        </ul>
    </div
</nav>


</header>


<!--Content  -->
{% block content %}
{% endblock content %}

<br>

<footer>


<div class="row expanded">
<div class="medium-12 columns" style="background-color:grey;">
<ul class="menu align-center">
<li class="menu-text align-right" style="color:white;">Copyright © 2016 Rockwallstudios LLC.</li>
</ul>
</div>
</div>
</footer>


<!--JS Lib  -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script> 
<script src='{% static "js/materialize.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
<script src='{% static "js/init.js" %}'></script>
<script>
      $(document).foundation();
</script>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd'
     });
    $(".button-collapse").sideNav(); 
  });
</script>

</body>
</html>
