{% extends "studio_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row studio_top">
<div class="container">

    <div class="col s12 left-align">
        <h3>Rockwall Studios</h3>
    </div>

     <div class="col s12 center-align">
        <div class="slider">
        <ul class="slides">
          <li>
            <img src='{% static "img/studio/sliderImage1.jpg" %}'>
          </li>
          <li>
            <img src='{% static "img/studio/sliderImage2.jpg" %}'>
          </li>
          <li>
            <img src='{% static "img/studio/sliderImage3.jpg" %}'>
          </li>
        </ul>
        </div>
    </div>
</div>
</div>
<!-- End of studio_top -->

<!-- Studio_directory -->
<div class="container">
    <div class="row studio_directory">

        <div class="col s2 left-align directory_Title">
            <h5>Directory</h5>
        </div>
        
        <div class="col s10 right-align search">
            <form method='GET' action=''>
                <input name='q' type="search" placeholder="Search directory">
                <button type="submit" value='Search'class="btn black">Search</button>
            </form>

        </div>
</div>


<!--Card -->
<div class="row center-align">

    {% for tenant in object_list %}
    <div class="col s12 m6 l4 info_card left-align" id={{ tenant.room }}>

        <div class="info_title black">
            <h5>{{ tenant.first_name }} {{tenant.last_name}}</h5>
        </div>

        <div class="container flexbox">

            <!-- Profile Content -->
            <div class="info_text">
            {% if tenant.image %}
            <p>
            <div class="info_img"style="background: url('https://s3.amazonaws.com/rockwall/media/{{ tenant.image}}')"></div>
            {% endif %}
            {{ tenant.content }}</p>
            </div>

            <!-- Profile Website -->
            {% if tenant.web %}
            <div class="info_web">
            <a href="{{ tenant.web }}">
            <i class="fi-web"></i>
            <p>{{ tenant.web }}</p></a>
            </div>
            {% endif %}

            <!--Social Media   -->
             <div class="info_media">
                {% if tenant.email %}
                <a href='mailto:{{ tenant.email }}'>
                <i class="fi-mail"></i>
                </a>
                {% endif %}

                {% if tenant.facebook %}
                <a href='{{ tenant.facebook }}'>
                <i class="fi-social-facebook"></i>
                </a>
                {% endif %}

                {% if tenant.twitter %}
                <a href='{{ tenant.twitter }}'>
                <i class="fi-social-twitter"></i>
                </a>
                {% endif %}

                {% if tenant.instagram %}
                <a href='{{ tenant.instagram }}'>
                <i class="fi-social-instagram"></i>
                </a>
                {% endif %}

                {% if tenant.linkedin %}
                <a href='{{ tenant.linkedin }}'>
                <i class="fi-social-linkedin"></i>
                </a>
                {% endif %}
                </div>        
        </div>
        </div>

    {% cycle "" ""  "</div><div class='row'>" %}

    {% endfor %}
</div>



</div>


{% endblock content %}
