{% extends "studio_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row medium-12 large-12 columns">
  <div class="subNavArea">

<!-- desktop -->
    <ul class="menu">

      <!--<li  class="menu-text show-for-large" style="font-size:45px; padding-left:0px; padding-bottom:0px; " >Rockwall Studios</li> -->
      <li><a href="studio"  class="show-for-large"style="color:black; font-size:45px; font-weight:bold; padding-top:25px;">Rockwall Studios</a></li>
      <li><a href="directory"  class="show-for-large"style="color:black; font-weight:bold; padding-top:35px;">Directory</a></li>
      <li><a href="available_spaces"  class="show-for-large"style="color:black;   font-weight:bold; padding-top:35px;">Available Spaces</a></li>
      <li><a href="floorplan"  class="show-for-large"style="color:black;  font-weight:bold; padding-top:35px;">Floorplan</a></li>
      <li><a href="tour" class="show-for-large" style="color:black;  font-weight:bold; padding-top:35px;">Arrange a Tour</a></li>


<!-- tablet -->
<center>
      <li class="menu-text hide-for-large  show-for-medium center" style="font-size:60px;  padding-top:30px;" >Rockwall Studios</li>
</center>

      <center>
          <li  style="display:inline-block; text-align:center;"><a href="directory" class="hide-for-large show-for-medium " style="color:black; font-weight:bold; padding-top:0px; padding-left:0px;  ">Directory</a></li>
          <li  style="display:inline-block; text-align:center;"><a href="available_spaces"  class="hide-for-large show-for-medium"style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Available Spaces </a></li>

          <li  style="display:inline-block; text-align:center;"><a href="floorplan" class="hide-for-large show-for-medium" style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Floorplan </a></li>

          <li  style="display:inline-block; text-align:center;"><a href="tour" class="hide-for-large show-for-medium" style="color:black; font-weight:bold; padding-top:15px; padding-left:30px;">Arrange a Tour </a></li>
      </center>
 


      <!--mobile-->
      <center>
      <li class="menu-text show-for-small-only " style="font-size:30px;  padding-top:0px; padding-left:0px;" >Rockwall Studios</li>
 
      <hr class="show-for-small-only">

      <li style="display:inline-block; text-align:center;" ><a href="directory" class="show-for-small-only center" style="color:black; font-weight:bold; padding-top:5px; padding-left:0px; font-size:10px; ">Directory</a></li>
      <li style="display:inline-block; text-align:center;"><a href="available_spaces"  class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Available Spaces</a></li>
      <li style="display:inline-block; text-align:center;"><a href="floorplan" class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Floorplan</a></li>
      <li style="display:inline-block; text-align:center;"><a href="tour" class="show-for-small-only center"style="color:black; font-weight:bold; padding-top:5px; padding-left:10px; font-size:10px;">Arrange a Tour</a></li>

<hr class="show-for-small-only">
</center>
  </ul>
</div>
</div>

<!-- Request a tour information -->

<div class="row">
<center>
  <div class="large-12 columns" >
    <p><img src='{% static "img/studio/arrangeATour.jpg" %}'></p>
  </div>
  </center>
</div>

<div class="row">
  <div class=" large-12 columns">
      <h3 style="font-weight:bold;">Request a Tour</h3>
            <p>
If you like what you see and want to become a part of our Rockwall Community, send us a note and we will respond with available appointment times for a tour or we'll add you to our wait list!<br><br>  

Either way, we look forward to meeting you!</p>
                <p><span style="font-weight:bold;">Reception:</span> 347-689-2885</p>
                <p><span style="font-weight:bold;">General inquiries:</span> Reception@Rockwallstudios.nyc</p>
                <p><span style="font-weight:bold; color:red; ">***</span> If you are interested in room availabilities, or want to get in touch with us please fill out the form below. </p>   
      
  </div>

</div>






<!-- Contact Form-->



 
<div class="row medium-12 large-10 columns">
<div id="form" class="contactForm">
<h3>Contact Us:</h3>

{% if messages %}
<div class="row">
<ul class="messages green-text text-darken-1">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


<div class="row">
    <form method='POST' action ='/tour#form' class="col s12">{% csrf_token %}
            {{ form.as_p }}
       <button class="black btn waves-effect waves-light" type="submit" value="Create Contact">SUBMIT
            <i class="material-icons right">send</i>
        </button> 
    </form>
  </div>
</div>

</div>

{% endblock content %}
