





#floorplan {


}

#a15 {
	fill:#9BC4E2;	
}

#a16 {
	fill:#9BC4E2;	

}

#a24 {
	fill:#9BC4E2;	

}

#a30 {
	fill:#9BC4E2;	

}


#a32 {
	fill:#9BC4E2;	

}

#a33 {
	fill:#9BC4E2;	

}



#b24:hover {
	fill:#A8A8A8;

}

#a18:hover {

	fill:#A8A8A8;
}

#a26:hover {
	fill:#A8A8A8;


}



#b10 {
	fill:#9BC4E2;	

}








#a38 {
	fill:#9BC4E2;

}
#a10 {
	fill:#9BC4E2;
	

}
#a23 {
	fill:#9BC4E2;
	

}
#a21 {
	fill:#9BC4E2;
	

}
#a19 {
	fill:#9BC4E2;
	

}
#a17 {
	fill:#9BC4E2;
	

}
#a13 {
	fill:#9BC4E2;
	

}
#a11 {
	fill:#9BC4E2;
	

}
#a09 {
	fill:#9BC4E2;
	

}
#a07 {
	fill:#9BC4E2;
	

}
#a02 {
	fill:#9BC4E2;
	

}

#b20 {
	fill:#9BC4E2;
	

}
#b18 {
	fill:#9BC4E2;
	

}

#b19{
	fill:#9BC4E2;	

}

	
#b27{
	fill:#9BC4E2;	
}

#b37 {
	fill:#9BC4E2;	

}

#b14 {
	fill:#9BC4E2;	

	

}
#b12 {
	fill:#9BC4E2;
	

}

	

}
#b08 {
	fill:#9BC4E2;
	

}

	

}
#b04 {
	fill:#9BC4E2;
	

}

#c06 {
	fill:#9BC4E2;	

}

#b23 {
	fill:#9BC4E2;
	

}
#b17 {
	fill:#9BC4E2;
	

}
#b07 {
	fill:#9BC4E2;
	

}
#c20 {
	fill:#9BC4E2;
	

}
#c14 {
	fill:#9BC4E2;
	

}
#c16 {
	fill:#9BC4E2;
	

}
#c30{
	fill:#9BC4E2;	

}











