//Home 
.home_slider
    padding-top: 15px !important
    .slider
        height: 250px !important
    .slides
        height: 250px !important
.blog_Container
    width: 97%
    overflow: hidden !important
.blog_sec
    margin-top: 40px !important
    margin-bottom: 40px !important
.blog_Text
    h5
        margin-top: 0px !important
.blog_Video
    padding-bottom: 10px !important 

.blog_Image
    background-size: cover !important
    background-position: center !important
    background-repeat: no-repeat !important
    height: 223px
    margin-bottom: 14px !important
.border
    border-style: solid
    padding-left: 8px
    padding-right: 8px
    h5
        font-weight: bold
        padding-bottom: 5px
    .map
        padding-bottom: 5px
    span
        font-weight: bold

@media only screen and (min-width: 992px)
    .home_slider
        .slider
            height: 450px !important
        .slides
            height: 450px !important
    .blog_Image
        height: 317px

