/*Navigation  */
.menuIcon a{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}
.menuIcon i{
    color:white;
    font-size:22px;
}
.menuLogo{
    padding-top:19px;    
}
.menuLogo img{
    width:120px;
}

.menuRight li a{
    color:white;
}
.menuPosition{
   padding-top:20px; 
   font-weight:bold;
}
/*Side Navigation  */
.sideLogo{
    padding-top:10px;
}
.sideLogo a{
    padding-right:0px;
    padding-left:0px;
}
.sideLogo img{
    width:218px;
}
.sideHr{
    padding-left:7px;
    padding-right:7px;
}
.sideHr hr{
    margin-bottom:0px;

}
.sideMenu a{
    padding-left:7px;
    color:white;
    font-weight:bold;
}
.sideMenu li{
    height:30px;
}

.sideIcon{
    padding-top:14px;
}
.sideIcon a{
    display:inline-block;
    font-size:24px;
    padding-right:15px;
}
/*Home Page  */
.homeTL{
    padding-top:10px !important;
}
.homeTR li{
    padding-top:10px;
}
.homeBL{
    border-style:solid;
    border-width: 0px 1px 1px 1px;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    border-color:gainsboro !important;
    margin-bottom:20px !important;
}
.homeBL h5{
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-top:0px;
}

.blogData{
    padding-bottom:70px;
}
.blogData h5{
    color:black;
    padding-top:25px;
    padding-left:0px !important;

}
.blogText{
    padding-bottom:20px;
}

.borders{
    border-style:solid;
    padding-left:7px;
    padding-right:4px;
}
.borders h5{
    font-weight:bold;
}
.borders span{
    font-weight:bold;
}
.borders p {
    padding-top:10px;
}

/*Studio Page  */
.stuTitle h3{
    font-weight:bold;
}
.directory{
    padding-top:20px;
}
.directory h5{
    font-weight:bold;
}

/*Co-Working Page  */
.workMessage{
    font-weight:bold;
}
/*Contact Page  */
.contact span h4{
    font-weight:bold;
}

@media only screen and (min-width : 992px) {
    .homeTopContainer{
        width:82% !important;
    }
}
@media only screen and (min-width : 1200px){
    .homeTopContainer{
        width:81% !important;

    }
}
