strong{
    font-weight:bold!important;
}
ol{
    list-style-position:inside !important;
}
.homeTopContainer{
    width:93%;
}
/*Navigation  */
.menuIcon a{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}
.menuIcon i{
    color:white;
    font-size:22px;
}
.menuLogo{
    padding-top:19px;    
}
.menuLogo img{
    width:120px;
}
.menuRight li a{
    color:white;
}
.menuPosition{
   padding-top:20px; 
   font-weight:bold;
}
/*Side Navigation  */
.sideLogo{
    padding-top:10px;
}
.sideLogo a{
    padding-right:0px;
    padding-left:0px;
}
.sideLogo img{
    width:218px;
}
.sideHr{
    padding-left:7px;
    padding-right:7px;
}
.sideHr hr{
    margin-bottom:0px;

}
.sideMenu a{
    padding-left:7px;
    color:white;
    font-weight:bold;
}
.sideMenu li{
    height:30px;
}

.sideIcon{
    padding-top:14px;
}
.sideIcon a{
    display:inline-block;
    font-size:24px;
    padding-right:15px;
}
/*Home Page  */
.homeTL{
    padding-top:10px !important;
}
.homeTR li{
    padding-top:10px;
}
.homeBL{
    border-style:solid;
    border-width: 0px 1px 1px 1px;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    border-color:gainsboro !important;
    padding-bottom:20px !important;;
    margin-bottom:30px !important;
}
.homeBL h5{
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-top:0px;
}

.blogData{
    padding-bottom:0px;
    padding-top:10px;
}
.blogData h5{
    color:black;
    padding-top:25px;
    padding-left:0px !important;

}
.blogImage{
    background-size:cover !important;
    background-repeat:no-repeat !important;
    height:317px !important;
}
.blogImage img{
    cursor:zoom-in;
}
.blogText{
    padding-bottom:20px;
}

.borders{
    border-style:solid;
    padding-left:7px;
    padding-right:4px;
}
.borders h5{
    font-weight:bold;
}
.borders span{
    font-weight:bold;
}
.borders p {
    padding-top:10px;
}
/*Project Space  */
.proTitle{
    text-align:center;
}
.proTitle h4{
    font-weight:bold;
}
.proTitle a{
    font-weight:bold;
    color:black;
}
.proSlider{
    padding-bottom:30px;

}

.wall {
    border-style:solid;
    border-width: 0px 1px 1px 1px;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    border-color:gainsboro !important;
    margin-bottom:20px !important;
}
.wallData{
    padding-top:20px;    
}

.wallTitle{
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}   
.wallImage{
    background-size:cover !important;
    background-repeat:no-repeat !important;
    height:317px !important;
    
}
.rent{
    border-style:solid;
    border-width: 0px 1px 1px 1px;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    border-color:gainsboro !important;
    margin-bottom:20px !important;
    padding-bottom:10px;
}
.rentTitle{
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}
.spaceTitle{
    font-weight:bold;
    text-align:center;
}
.spaceInfo{
    color:black !important;
    font-size:18px !important;
}
/*Studio Page  */
.stuTitle h3{
    font-weight:bold;
}
.directory{
    padding-top:20px;
}
.directory h5{
    font-weight:bold;
}

/*Co-Working Page  */
.workMessage{
    font-weight:bold;
}
/*Contact Page  */
.contact span h4{
    font-weight:bold;
}

@media only screen and (min-width : 766px) {
    .proTitle{
        text-align:left;
    }
    .proLinks{
        padding-top:24px !important;
    }
    .wallContainer{
        width:90% !important;
    }
    .spaceContainer{
        width:91% !important;
    }
    .spotWidth{
        width:90% !important;
    }
    .blogData h5{
        padding-top:0px !important;
    }
    .eventName h5{
        margin-top:0px !important;
    }
    .eventTitle{
        padding-top:0px!important;
    }
}
@media only screen and (min-width : 992px) {
    .homeTopContainer{
        width:82% !important;
    }
    .spotWidth{
        width:95% !important;
    }
    .proTitle h4{
        font-size:45px !important;
    }
    .proTitle a{
        padding-right:39px;
    }
    .proLinks{
        padding-top:35px !important;
    }
    .blogData{
        padding-top:30px;
    }
}
